<div class="container">

  <div class="col-md-8 col-md-offset-2 page-header jumbotron">

    <h2>
      <%= @user.username.upcase %>'s reviews
    </h2>

    <a href="/reviews/new" class="btn btn-lg btn-success">Add a Review</a>
  </div>


  <% @user.reviews.each do |review| %>
    <div class="row">
    <div class="col-md-12">

      <table class="table table-striped table-hover">
        <tr>
          <th>Review ID</th>
          <th>Date Visited</th>
          <th>Restaurant Name</th>
          <th>Neighborhood</th>
          <th>Address</th>
          <th>Notes</th>
          <th>Rating</th>
          <th></th>
        </tr>

        <% @user.reviews.each do |review| %>
        <tr>
          <td>Review # <%= review.id %></td>
          <td><%= review.date %></td>
          <td><%= review.restaurant.name %></td>
          <td><%= review.restaurant.neighborhood %></td>
          <td><%= review.restaurant.address %></td>
          <td><%= review.notes %></td>
          <td><%= review.id %></td>
          <td>
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">Show</a>
            <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          </td>
        </tr>
      </table>

      <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=<%= review.restaurant.name %>,<%= review.restaurant.neighborhood %>&key=AIzaSyBOcjx2-pkCnJam_fhWonH9uWmeMr-bM20" allowfullscreen>
      </iframe>

    </div>
  </div>
  <% end %>
  <% end %>
</div>
