<!-- Validation failure messages -->
<% if @restaurant.errors.any? %>
<% @restaurant.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<% name = params[:name].titleize %>

<div class="row">
  <div class="col-md-12">
    <h1><%= name %></h1>

    <div class="col-md-6">

<!-- Pull info from the google maps api?  JSON?  -->

      <h3>Add Restaurant</h3>

    <form action="/create_restaurant" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= name %>">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @restaurant.address %>">
      </div>

      <!-- Label and input for neighborhood -->
      <div class="form-group">
        <label for="neighborhood" class="control-label">
          Neighborhood
        </label>

        <input type="text" id="neighborhood" name="neighborhood" placeholder="Neighborhood" class="form-control" value="<%= @restaurant.neighborhood %>">
      </div>

      <button class="btn btn-success">
        Create Restaurant
      </button>
      or
      <a href="/restaurants">Cancel</a>
    </form>
  </div>

    <div class="col-md-6">
      <iframe width="450" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=<%= params[:name] %>, <%= params[:neighborhood] %>&key=AIzaSyBOcjx2-pkCnJam_fhWonH9uWmeMr-bM20" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
