<div class="page-header">
  <h3>Review #<%= @review.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Restaurant</dt>
      <dd><%= @review.restaurant_id %></dd>

      <dt>User</dt>
      <dd><%= @review.user_id %></dd>

      <dt>Notes</dt>
      <dd><%= @review.notes %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/reviews" class="btn btn-primary">
        Back
      </a>
      <a href="/reviews/<%= @review.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_review/<%= @review.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
